body {
  background-color: rgb(13, 115, 119);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(241, 235, 235);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
   gap: 90px;
   width: 100%;
   height: 100%;
  }

 .gameboard-container {
  width: 396px;
  min-height: 400px;
  background-color: rgb(1, 62, 108);
  box-shadow: 0px 0px 20px rgba(241, 235, 235, 0.959);
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
} 
.info {
  min-height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.out,.counter-hits {
  font-size: 20px;
  margin-top: 50px;
}
.out {
  height: 70px;
}
.sunken {
  font-size: 20px;
}
.counter-hits {
  font-size: 24px;
  height: 100px;
}
#start {
  border: none;
  padding: 20px 65px;
  border-radius: 20px;
  color:  rgb(13, 115, 119);
  box-shadow: 0px 0px 20px rgba(241, 235, 235, 0.959);
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  font-size: 18px;
} 
#start:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
  background-color: rgb(237, 235, 235);
  color:  rgb(1, 62, 108);
}
.block {
  border: 1px solid  rgb(241, 235, 235);
  width: 38px;
  height: 38px;
}
.block:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.6);
}
.fall-cell{
 opacity: 0.5;
 background-color: rgb(13, 115, 119);
}
.boom {
  background-image: url('./image/free-icon-close-1828665.png');
  background-size: 33px;
  background-repeat: no-repeat;
  background-position: center;
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color :rgb(241, 235, 235);
  background-color:  rgb(1, 62, 108);
  border: 2px solid rgb(241, 235, 235);
  border-radius: 20px;
  position: absolute;
  padding: 30px;
  /* margin-right: 300px; */
  font-weight: 600;
  font-size: 18px;
  z-index: 1;
}
.list {
  color: red;
  min-height: 120px;
}
.counter-good-hits{
  color: red;
}
